// https://getbootstrap.com/docs/5.1/customize/sass/
// $grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//  xxl: 1400px
//);

// scss-docs-start theme-color-variables
$primary:       #0D6EFDFF;
$secondary:     #6C757DFF;  // tint-color($primary, 10%);
$success:       #198754FF;
$info:          #0DCAF0FF;
$warning:       #FFC107FF;
$danger:        #DC3545FF;
$light:         #F8F9FAFF;
$dark:          #212529FF;
// scss-docs-end theme-color-variables

$input-btn-font-size: 0.9rem;

// When optimizing import, postCss is not configured to create me-x bootstrap classes? But maybe use purgeCss instead?
// https://getbootstrap.com/docs/5.0/customize/optimize/
@import "../node_modules/bootstrap/scss/bootstrap";

// *** Biotope home ***

.main-container {
  @extend .container-fluid;

  .biotope-explainer-hero {
    @extend .text-center;
    @extend .mb-2;
    @extend .py-2;
    @extend .px-4;
    @extend .row;

    .explainer-text {
      @extend .col-6;
      @extend .py-1;
      @extend .d-flex;
      @extend .align-items-center;
    }

    .explainer-side {
      font-size: 0.8rem;
      @extend .shadow-sm;
      @extend .col-6;
      @extend .justify-content-sm-center;
    }
  }

  .main-biotope-cards {
    @extend .row;
    @include row-cols(3);
  }

  .main-card {
    @extend .card;
  }
}

// *** User flair ***

.user-flair {
  @extend .mx-1;
}

// *** Question container ***

.questionnaire-container {
  @extend .card;
  @extend .my-3;

  .card-body {
    h6 {
      @extend .card-title;
      @extend .my-2;
      font-size: 1.1rem;
    }
  }

  .form-group {
    margin-bottom: 1rem;
  }

  label {
    display: inline-block;
    margin-bottom: .5rem;
  }
}

// *** Question edit ***

.question-edit {
  .form-text {
    @extend .my-1;
  }
}
div.answers-edit {
  @extend .mt-4;
  .row:hover {
    background-color: lightgrey;
  }
}

.add-new-answer {
  @extend .mt-4;
}

// *** New argument ***

.argument-add {
  @extend .mb-3;

  .form-text {
    @extend .my-1;
  }
}
