// https://getbootstrap.com/docs/5.1/customize/sass/
// $grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//  xxl: 1400px
//);

// scss-docs-start theme-color-variables
$primary:       #0D6EFDFF;
$secondary:     #6C757DFF;  // tint-color($primary, 10%);
$success:       #198754FF;
$info:          #0DCAF0FF;
$warning:       #FFC107FF;
$danger:        #DC3545FF;
$light:         #F8F9FAFF;
$dark:          #212529FF;
// scss-docs-end theme-color-variables

// When optimizing import, postCss is not configured to create me-x bootstrap classes? But maybe use purgeCss instead?
// https://getbootstrap.com/docs/5.0/customize/optimize/
@import "../node_modules/bootstrap/scss/bootstrap";
